<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>text utils</title>
  </head>
  <body>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">text utils.in</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="\">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">contact us!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
      <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>welcome!!!! </strong> have a great time with out text utils and your text!!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

  <div class="container">
    <form action="\analize" method="post" >{% csrf_token %}


  <div class="form-group">
    <label for="exampleFormControlTextarea1">enter your text</label>
    <textarea  name="text" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  </div>




 <div class="custom-control custom-switch">
  <input type="checkbox" name="removepuc" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">remove punctuation</label>
</div>
  <div class="custom-control custom-switch">
  <input type="checkbox"  name="capatalize" class="custom-control-input" id="customSwitch2">
  <label class="custom-control-label" for="customSwitch2">capatalize</label>
</div>
  <div class="custom-control custom-switch">
  <input type="checkbox" name="newlineremove"class="custom-control-input" id="customSwitch3">
  <label class="custom-control-label" for="customSwitch3">remove line</label>
</div>
  <div class="custom-control custom-switch">
  <input type="checkbox" name="charcount" class="custom-control-input" id="customSwitch4">
  <label class="custom-control-label" for="customSwitch4">count characters</label>

</div>
<button   type="submit"class="btn btn-primary">Primary</button>
    </form>
  </div>
  </body>
</html>