<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>text utils</title>
</head>
<body>
<h1> welcome to text editor.. enter your text to edit</h1>
<form action="\analize" method="get">
    <textarea name="text" spellcheck="false" style="width: 1324px; height: 119px;">

    </textarea>

    <input type="checkbox" , name="removepuc"> remove punctuations <br>
    <input type="checkbox" , name="capatalize"> capatalize<br>
    <input type="checkbox" , name="newlineremove"> remove line<br>
    <input type="checkbox" , name="charcount"> count characters<br>
    <button type="submit"> analize text

  </button>
</form>

</body>
</html>


# this was my backup file..
